/*websiteName*/
.flock-srch-main input {
	height: 35px;
	/*Rounds corners*/
	border-radius: 5px 5px 5px 5px;
}

.flock-logo-image {
	position:relative;
	left: -18px;
}

#top-header h1[name="website-name"]{
	color: blue;
	display: inline;
	padding-top: 5px;
}

a {
	color:#404040;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color: #404040;
}

/*Search bar on top of page*/
#top-header input[name="search-bar"]{
	display:inline;
	width:225px;
	height:15px;
}

#top-header select[name="search-bar-options"]{
	height:20px;
}

.flock-hdr-icons .flock-mail-icon{
	padding:0px;
}
#location h2[name="city"]{
	margin: 0;
	padding: 0;
	display: inline;
}

/*Changes color of location nav bar*/
#location {
	margin-top: 20px;
	border: 1px solid #000000;
	background-color: #d9d9d9;
}

#location h2{
	display:inline;
}

#local-area {
	margin:5px;
	display:inline;
}

#local-area a{
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	/*padding: 5px;*/
	/*border: 40px solid #fffff;*/
	background-color: #ffffff;
	display:inline;
}

#left-col {
	display: inline;
}

.searchbar {
	margin-left: 5px;
}

#sidebar {
	postion:fixed;
	list-style-type: none;
}

.popular-sports li{
	list-style-type: none;
}

.flock-pplr-sports span[name="flock-slogan"]{
	font-size:25px;
}

#team-sports, #outdoor-sports, #fitness, #e-sports{
	list-style-type: none;
}

/*body {
    margin: 0 0 100px;  bottom = footer height
    padding: 25px;
}*/

#footer {
	position: relative;
}
#footer a{
	color: white;
}

/*.location ul[id=localArea]{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	display: inherit;
	border: 40px solid #fffff;
	background-color: #f1f1f1;
}*/
