/*websiteName*/
#top-header h1[name="website-name"]{
	color: blue;
	display: inline;
	padding-top: 5px;
}

a {
	color:#404040;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color: #404040;
}

/*Search bar on top of page*/
#top-header input[name="search-bar"]{
	display:inline;
	width:225px;
	height:15px;
}

#top-header select[name="search-bar-options"]{
	height:20px;
}

#location h2[name="city"]{
	margin: 0;
	padding: 0;
	display: inline;
}

/*Changes color of location nav bar*/
#location {
	margin-top: 20px;
	border: 1px solid #000000;
	background-color: #d9d9d9;
}

#location h2{
	display:inline;
}

#local-area {
	margin:5px;
	display:inline;
}

#local-area a{
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	/*padding: 5px;*/
	/*border: 40px solid #fffff;*/
	background-color: #ffffff;
	display:inline;
}

#left-col {
	display: inline;
}

#searchbar input[name="input"] out
	color: #FFFFFF;
}

#sidebar {
	postion:fixed;
	list-style-type: none;
}

<<<<<<< HEAD
#stuff {
	margin-left: 20%;
  position: relative;
  min-height: 100%;
=======
#popular-sports1, #popular-sports2{
	display: inline;
>>>>>>> 098f2fbb181ea2b6fc160d23093b039ec1bd93ff
}

#team-sports, #outdoor-sports, #fitness, #e-sports{
	list-style-type: none;
}

/*body {
    margin: 0 0 100px;  bottom = footer height
    padding: 25px;
}*/

#footer {
	color: red;
	width: 100%;
    background-color: #d9d9d9;
    position: absolute;
<<<<<<< HEAD
    left: 0;
    bottom: 1px;
    height: 45px;
    width: 100%;
<<<<<<< HEAD
    overflow:hidden; 
=======
    overflow:hidden;
>>>>>>> c1ff9a2b3c0ba23b2e3e038aab4f00409188a7da
=======
>>>>>>> 098f2fbb181ea2b6fc160d23093b039ec1bd93ff
}

/*.location ul[id=localArea]{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	display: inherit;
	border: 40px solid #fffff;
	background-color: #f1f1f1;
}*/
